/* Header Saldo Actual */
.div_saldo_actual{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.Titulo{
    margin-top: 10px;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* Depositos y retiros*/

.contenedor_dep_reti{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contenedor_depositos{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_retiros{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido_depo{
    margin-top: 5px;
    padding: 5px;
    background-color: #f5fff9;
}
.contenido_reti{
    margin-top: 5px;
    padding: 5px;
    background-color: #fef1f0;
}




