.cardsProyects{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}
.cardProyecExperi{
    max-width: 24rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color:  #FFFFFF;
    border: 1px solid  #D1D5DB;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 15px 30px -6px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cardHeaderPE{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid  #E5E7EB;
}
.cardHeaderPEIcon{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardHeaderPEIconIMG{
    width: 40px;
    height: 40px;
}
.cardHeaderPEDescrip{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cardHeaderPEDescripTitle{
    width: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none solid rgb(0, 0, 0);
    word-spacing: 0px;
}
.cardHeaderPEDescripSubTitle{
    width: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    line-height: 24px;
    text-decoration: none solid rgb(104, 114, 130);
    word-spacing: 0px;
}
.cardHeaderPENumber{
    width: 15%;
}
.contentImg{
    margin-top: 10px;
}
.contentTecnologias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tecnologiasImg{
    width: 20px;
    height: 20px;
}
